<p>
  <%= f.label "Hotel Name" %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :units %><br />
  <%= f.text_field :units %>
</p>
<p>
  <%= f.label :hotel_plan %><br />
	<%= f.select :hotel_plan, [['European Plan', 'European Plan'], ['Luxury Vacations', 'Luxury Vacations'],  ["Bed and Breakfast", "Bed and Breakfast"], ["All Inclusive", "All Inclusive"]] %></p>
<p>
  <%= f.label :hotel_stars %><br />
<%= f.select :hotel_stars, [['One Star', 'One Star'], ['Two Stars', 'Two Stars'],  ["Three Stars", "Three Stars"], ["Four Stars", "Four Stars"], ["Five Stars", "Five Stars"], ["Grand Turismo", "Grand Turismo"], ["Boutique", "Boutique"], ["Not Rated", "Not Rated"]] %></p>
<p>
  <%= f.label :best_for %><br />
	<%= f.select :best_for, [['Families', 'Families'], ['Couples', 'Couples'],  ["Solo Travellers", "Solo Travellers"], ["Senior Travellers", "Senior Travellers"], ["Gay Travel", "Gay Travel"]] %>
</p>
<p>
  <%= f.label :location_area %><br />
	<%= f.select :location_area, [["Amapas - Conchas Chinas", "Amapas - Conchas Chinas"], ["Costalegre", "Costalegre"], ["Bucerias - La Cruz", "Bucerias - La Cruz"],  ["El Centro", "El Centro"], ["Hotel Zone", "Hotel Zone"], ["Marina Vallarta", "Marina Vallarta"], ["North Shore", "North Shore"], ["Nuevo Vallarta - Flamingos", "Nuevo Vallarta - Flamingos"], ["Riviera Nayarit", "Riviera Nayarit"], ["South Shore", "South Shore"]] %></p>
<p>
  <%= f.label :hotel_status %><br />
	<%= f.select :hotel_status, [['Active', 'Active'], ['Not Active', 'Not Active'],  ["Cancelled", "Cancelled"], ["On Hold", "On Hold"], ["Closed", "Closed"]] %>
</p>

<p>
  <%= f.label :website %><br />
  <%= f.text_field :website %>
</p>
<p>
  <%= f.label :large_description %><br />
  <%= f.text_area :large_description %>
</p>
<p>
  <%= f.label :small_description %><br />
  <%= f.text_area :small_description %>
</p>
<p>
  <%= f.label :tiny_description %><br />
  <%= f.text_area :tiny_description %>
</p>
<p>
  <%= f.label :units_description %><br />
  <%= f.text_field :units_description %>
</p>
<p>
  <%= f.label :address1 %><br />
  <%= f.text_field :address1 %>
</p>
<p>
  <%= f.label :address2 %><br />
  <%= f.text_field :address2 %>
</p>
<p>
  <%= f.label :latitude %><br />
  <%= f.text_field :latitude %>
</p>
<p>
  <%= f.label :longitude %><br />
  <%= f.text_field :longitude %>
</p>

<p>
  <%= f.label :swimming_pool %>: <%= f.check_box :swimming_pool %>
</p>
<p>
  <%= f.label :swim_up_bar %>: <%= f.check_box :swim_up_bar %>
</p>
<p>
  <%= f.label :steam_room %>: <%= f.check_box :steam_room %>
</p>
<p>
  <%= f.label :fullservice_health_spa %>: <%= f.check_box :fullservice_health_spa %>
</p>
<p>
  <%= f.label :complimentary_newspapers_in_lobby %>: <%= f.check_box :complimentary_newspapers_in_lobby %>
</p>
<p>
  <%= f.label :fitness_equipment %>: <%= f.check_box :fitness_equipment %>
</p>
<p>
  <%= f.label :bar_lounge %>: <%= f.check_box :bar_lounge %>
</p>
<p>
  <%= f.label :room_service_24_hours %>: <%= f.check_box :room_service_24_hours %>
</p>
<p>
  <%= f.label :self_parking %>: <%= f.check_box :self_parking %>
</p>
<p>
  <%= f.label :conference_rooms %>: <%= f.check_box :conference_rooms %>
</p>
<p>
  <%= f.label :exhibit_space %>: <%= f.check_box :exhibit_space %>
</p>
<p>
  <%= f.label :banquet_facilities %>: <%= f.check_box :banquet_facilities %>
</p>
<p>
  <%= f.label :internet_access_in_public_areas %>: <%= f.check_box :internet_access_in_public_areas %>
</p>
<p>
  <%= f.label :business_services %>: <%= f.check_box :business_services %>
</p>
<p>
  <%= f.label :porter_bellhop %>: <%= f.check_box :porter_bellhop %>
</p>
<p>
  <%= f.label :security_guard %>: <%= f.check_box :security_guard %>
</p>
<p>
  <%= f.label :multilingual_staff %>: <%= f.check_box :multilingual_staff %>
</p>
<p>
  <%= f.label :gift_shops_or_newsstand %>: <%= f.check_box :gift_shops_or_newsstand %>
</p>
<p>
  <%= f.label :tour_assistance %>: <%= f.check_box :tour_assistance %>
</p>
<p>
  <%= f.label :beauty_services %>: <%= f.check_box :beauty_services %>
</p>
<p>
  <%= f.label :grocery %>: <%= f.check_box :grocery %>
</p>
<p>
  <%= f.label :air_conditioned_public_areas %>: <%= f.check_box :air_conditioned_public_areas %>
</p>
<p>
  <%= f.label :supervised_child_care_activities %>: <%= f.check_box :supervised_child_care_activities %>
</p>
<p>
  <%= f.label :poolside_bar %>: <%= f.check_box :poolside_bar %>
</p>
<p>
  <%= f.label :spa_tub %>: <%= f.check_box :spa_tub %>
</p>
<p>
  <%= f.label :sauna %>: <%= f.check_box :sauna %>
</p>
<p>
  <%= f.label :concierge_desk %>: <%= f.check_box :concierge_desk %>
</p>
<p>
  <%= f.label :health_club %>: <%= f.check_box :health_club %>
</p>
<p>
  <%= f.label :restaurant_in_hotel %>: <%= f.check_box :restaurant_in_hotel %>
</p>
<p>
  <%= f.label :nightclub %>: <%= f.check_box :nightclub %>
</p>
<p>
  <%= f.label :parking_free %>: <%= f.check_box :parking_free %>
</p>
<p>
  <%= f.label :event_catering %>: <%= f.check_box :event_catering %>
</p>
<p>
  <%= f.label :parking_valet %>: <%= f.check_box :parking_valet %>
  <%= f.label :business_center %>: <%= f.check_box :business_center %>
</p>
<p>
  <%= f.label :ballroom %>: <%= f.check_box :ballroom %>
</p>
<p>
  <%= f.label :steam_room %>: <%= f.check_box :steam_room %>
</p>
<p>
  <%= f.label :meeting_rooms_large %>: <%= f.check_box :meeting_rooms_large %>
</p>
<p>
  <%= f.label :meeting_rooms_small %>: <%= f.check_box :meeting_rooms_small %>
</p>
<p>
  <%= f.label :audio_visual_equipment %>: <%= f.check_box :audio_visual_equipment %>
</p>
<p>
  <%= f.label :doorman %>: <%= f.check_box :doorman %>
</p>
<p>
  <%= f.label :front_desk_24_hours %>: <%= f.check_box :front_desk_24_hours %>
</p>
<p>
  <%= f.label :hair_salon %>: <%= f.check_box :hair_salon %>
</p>
<p>
  <%= f.label :shopping_on_site %>: <%= f.check_box :shopping_on_site %>
</p>
<p>
  <%= f.label :medical_assistance_available %>: <%= f.check_box :medical_assistance_available %>
</p>
<p>
  <%= f.label :dry_cleaning_service %>: <%= f.check_box :dry_cleaning_service %>
</p>
<p>
  <%= f.label :pool_table_on_site %>: <%= f.check_box :pool_table_on_site %>
</p>
<p>
  <%= f.label :elevator_lift %>: <%= f.check_box :elevator_lift %>
</p>
<p>
  <%= f.label :wedding_services %>: <%= f.check_box :wedding_services %>
</p>