<div id="col_izq"><div id="window1">
	<div id="title1"><p>Edit a hotel:</p></div>

<table cellspacing="1" cellpadding="1" id="tabla1">
  <tr>
    <th class="col1">Action</th>
    <th class="col1">Hotel Name</th>
    <th class="col1">Hotel Status</th>
  </tr>

<% for hotel in @hotels %>
  <tr >
	<td class="row1"><%= link_to 'Show', hotel %><% if logged_in? %> | <%= link_to 'Edit', edit_hotel_path(hotel) %> | <%= link_to 'Destroy', hotel, :confirm => 'Are you sure?', :method => :delete %><%- end -%></td>
	<td class="row1"><%=h hotel.name.capitalize %></td>
	<td class="row1"><%=h hotel.hotel_status %></td>
	
  </tr>
<% end %>
</table></div></div>	
<div id="col_der">
	<div class="window2">
		<div class="title2"><p>Property Administration:</p></div>
		<ul>
			<li><%= link_to "Add new hotel", new_hotel_path %></li>
			<li id="last"><%= link_to "Back", administrator_path %></li>
		</ul>
	</div>
</div>