
<div id="col_der">
	<div class="window2">
		<div class="title2"><p>Rooms Administration:</p></div>
		<ul>
			<li><%= link_to "Check Rooms", hotel_rooms_path(@hotel) %></li>
			<li><%= link_to 'Edit Hotel', edit_hotel_path(@hotel) %></li>
			<li><%= link_to "Back to Hotels", hotels_path %></li>
			<li id="last"><%= link_to 'Back to Admin', administrator_path %></li>
		</ul>
	</div>
</div>

<p>
  <b>Name:</b>
  <%=h @hotel.name %>
</p>

<p>
  <b>Units:</b>
  <%=h @hotel.units %>
</p>

<p>
  <b>Hotel plan:</b>
  <%=h @hotel.hotel_plan %>
</p>

<p>
  <b>Hotel stars:</b>
  <%=h @hotel.hotel_stars %>
</p>

<p>
  <b>Best for:</b>
  <%=h @hotel.best_for %>
</p>

<p>
  <b>Location area:</b>
  <%=h @hotel.location_area %>
</p>

<p>
  <b>Status:</b>
  <%=h @hotel.hotel_status %>
</p>

<p>
  <b>Website:</b>
  <%=h @hotel.website %>
</p>

<p>
  <b>Large description:</b>
  <%=h @hotel.large_description %>
</p>

<p>
  <b>Small description:</b>
  <%=h @hotel.small_description %>
</p>

<p>
  <b>Tiny description:</b>
  <%=h @hotel.tiny_description %>
</p>

<p>
  <b>Units description:</b>
  <%=h @hotel.units_description %>
</p>

<p>
  <b>Address1:</b>
  <%=h @hotel.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @hotel.address2 %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @hotel.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @hotel.longitude %>
</p>

<h3 style="clear: both;">Check the photos:</h3>

<% if @hotel.photos  %>

<div class="section">
Add a new photo to the Hotel: <%= @hotel.name %>

	<% @hotel.photos.each do |photo| %>
		
	<div class="thumbnail">
		<%= lightbox_image_tag(photo.public_filename(:thumb), photo.public_filename , {:class=>"images"}, :title => photo.title, :rel => "lightbox[photos]") %>	
		<% if logged_in? %>
	    <div>  
	      <%= link_to 'delete', hotel_photo_url(@hotel, photo), :confirm => 'Are you shure?', :method => :delete %>
	    </div>
		<% end %>
	</div>
	
	<% end %>
</div>
<% end %>

<% if logged_in? %>
<% form_for(:photo, :url => hotel_photos_url(@hotel),  :html => { :multipart => true }) do |f| %>
	
	<p>
		<b>Titulo</b><br>
		<%= f.text_field :title %></p>
		
	</p>
	
	<p>
		Select photo:
		<%= f.file_field :uploaded_data %>
		El máximo de tamaño por foto es de: 500 KB
	</p>
	
	<p>
		<%= f.submit "Add Photo" %>
	</p>
	
<% end %>
<% end %>